<?xml version="1.0"?>
<config>
    <modules>
        <Aurmil_SetPricePrecision>
            <version>2.0.0</version>
        </Aurmil_SetPricePrecision>
    </modules>
    <global>
        <models>
            <core>
                <rewrite>
                    <locale>Aurmil_SetPricePrecision_Model_Core_Locale</locale>
                </rewrite>
            </core>
            <directory>
                <rewrite>
                    <currency>Aurmil_SetPricePrecision_Model_Directory_Currency</currency>
                </rewrite>
            </directory>
            <sales>
                <rewrite>
                    <order>Aurmil_SetPricePrecision_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <aurmil_setpriceprecision>
                <class>Aurmil_SetPricePrecision_Helper</class>
            </aurmil_setpriceprecision>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <aurmil_setpriceprecision>
                    <files>
                        <default>Aurmil_SetPricePrecision.csv</default>
                    </files>
                </aurmil_setpriceprecision>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <catalog>
            <price>
                <precision>2</precision>
            </price>
        </catalog>
    </default>
</config>
